<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Subscriber List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <h1>Welcome to Our Awesome Site!</h1>
    <h3>Subscribe to our List. Sign-up below!</h3>
    <!-- Add in the <body> of your template !-->
<p>Please use the form below to apply for a trip!</p>
 <form action="#" th:action="@{/}" th:object="${customer}" method="post">
    <table>
	<tr>
            <td>First Name:</td>
	    <td><input type="text" th:field="*{firstName}" /></td>
	</tr>
	<tr>
	    <td>Last Name:</td>
	    <td><input type="text" th:field="*{lastName}" /></td>
	</tr>
	<tr>
    	    <td>Destination</td>
	    <td><input type="text" th:field="*{destination}" /></td>
	</tr>
        <tr>
    	    <td>Budget</td>
	    <td><input type="text" th:field="*{budget}" /></td>
	</tr>
          <tr>
    	    <td>Email</td>
	    <td><input type="text" th:field="*{email}" /></td>
	</tr>
	<tr>
	    <td><button type="submit">Submit Your Request</button></td>
	</tr>
    </table>
</form>

  </body>
</html>